<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="base :: csslinks"> </th:block>
    <title>Message Form</title>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<br/>
<div class="container">
    <h1>Add a Message</h1>
    <form th:action="@{/savemessage}" th:object="${message}" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" th:field="*{id}">
            <label for="messageContent">Enter Message:</label>
            <textarea type="text" class="form-control" th:field="*{content}"></textarea>
        </div>
        <div class="form-group">
            <label for="recipientsList">Recipients:</label>
            <select class="form-control" th:field="*{recipients}" multiple>
                <option th:each ="eachRecipient:${recipientlist}"
                        th:value="${eachRecipient.id}"
                        th:text="${eachRecipient.recipientName}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-info btn-lg">
            Send Message</button>
        <br/><br/>
    </form>
    <a href="/updaterecipientlist" role="button">Don't see the right recipient?
            Click here to add to the list</a><br /><br />
    <br /><br />
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>